{% extends "layout.html" %}
{% block content %}

<html>
	<head>
		<!-- Javascript location -->
		<script type="text/javascript" src="{{url_for('static', filename='script.js') }}"></script>
	</head>

<body>
		<h2>Control panel</h2>
		
		<form action = "/IOT" method = post>
		
			<fieldset>
				
				{% for message in form.Port.errors %}
				<div class="flash">{{ message }}</div>
				{% endfor %}




				<!-- form start here -->
				<div>
					
					{{ form.Port.label }}
					<br>
					{{ form.Port}}
					<br>
					{{ form.set_serial }}
					<br>
					
					<h3>Serial monitor</h3>
		<!--<button type="button" id="start_monitor" name="start_monitor">Start reading</button><br><br>   -->
					<strong><div id="voltage"></div></strong>
					<br>
					<br>
					
					{{ form.port_command.label }}
					<br>
					{{ form.port_command }}
					<br>
					<h3>type go + value to control potentiometer</h3>
					
					
					{{ form.send_command }}
					<br>
										
					<h3>LED control (pin13) </h3>
					{{ form.led_button_on }}
					{{ form.led_button_off }}
					<br>

			</div>
			</fieldset>
			<br>
			
			
			<fieldset>
			<div>

					<h3>Temperature monitor</h3>
					<strong><div id="temp"></div></strong>
					<br>
					<h3>incubator status</h3>
					<strong><div id="incubator_status"></div></strong>										
					<br>
					{{ form.relay_pin.label}}
					<br>
					{{ form.relay_pin}}
					
					
					<br>
					{{ form.sensor_location.label}}
					<br>
					{{ form.sensor_location}}
					{{ form.set_sensor}}
					
					<br>
					{{ form.Temperature.label}}
					<br>
					{{ form.Temperature}}
					{{ form.incubate }}
					{{ form.terminate }}
					<br>
				

					
				</div>
				</fieldset>


{% endblock %}

	</body>
</html>
