{% extends "layout.html" %}
{% block content %}

<html>
	<head>
		<!-- Javascript location -->
		<script type="text/javascript" src="{{url_for('static', filename='script.js') }}"></script>
	</head>

<body>
		<h2>Control panel</h2>
		
		<form action = "/IOT" method = post>
		
			<fieldset>
				
				{% for message in form.Port.errors %}
				<div class="flash">{{ message }}</div>
				{% endfor %}


				<legend>Parameters</legend>
				{{ form.hidden_tag() }}
				{{ form.csrf_token }}

				<!-- form start here -->
				<div style="font-size: 20px;">
					
					{{ form.Port.label }}
					<br>
					{{ form.Port}}
					<br>
					{{ form.set_serial }}
					<br>
					
					<h1>Serial monitor</h1>
<!--					<button type="button" id="start_monitor" name="start_monitor">Start reading</button><br><br>   -->
					<strong><div id="voltage"></div></strong>
					<br>
					<br>
					
					{{ form.port_command.label }}
					<br>
					{{ form.port_command }}
					<br>
					
					
					{{ form.send_command }}
					<br>
					{{ form.LED.label }}
					<br>
					
					
					{{ form.LED }}
					{{ form.led_button }}
					<br>


					{{ form.Temperature.label}}
					<br>
					{{ form.Temperature}}
					{{ form.set_temp }}
					
					<br>
					
				</div>


{% endblock %}

	</body>
</html>
