<!doctype html>
<html>
   <body>
   
      <h2>Control panel</h2>
      
      <form action = "/led" method = post>
         <fieldset>
           
{% for message in form.Port.errors %}
 <div class="flash">{{ message }}</div>
{% endfor %}




           <legend>Parameters</legend>
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}

            
              <div style="font-size: 20px;">
               {{ form.Port.label }}<br>
               {{ form.Port }}
               <br>
               {{ form.SetSerial }}
               <br>
               <br>
               {{ form.LED.label }}<br>
               {{ form.LED }}
               {{ form.led_button }}
               <br>
               <br>
               {{ form.Temperature.label}}<br>
               {{ form.Temperature}}
               {{ form.SetTemp }}
            </div>
        
        <h2>{{platform_choice}} </h2>
            
         </fieldset>
      </form>
      
   </body>
</html>
